<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthcared">

    <!-- GOOGLE MAPS -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- GOOGLE MAPS -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- GOOGLE MAPS -->
        <uses-library android:name="com.google.android.maps" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- GOOGLE MAPS -->

        <activity
            android:name=".UI.animescreen"
            android:theme="@style/Splashscreen"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.Inicio"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".UI.DietHome"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.Tracker"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.Singup2"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.Singup1"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.Profile"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.Settings"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.LogIn"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.CreatePlan"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.StartExercise"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.PlanPreview"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UI.WorkoutHome"
                  android:screenOrientation="sensorPortrait"
                  tools:ignore="LockedOrientationActivity"/>

    </application>

</manifest>